<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljz.huotai.mapper.UserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ljz.huotai.pojo.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="avatar" property="avatar"/>
        <result column="email" property="email"/>
        <result column="city" property="city"/>
        <result column="created" property="created"/>
        <result column="updated" property="updated"/>
        <result column="last_login" property="lastLogin"/>
        <result column="statu" property="statu"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, password, avatar, email, city, created, updated, last_login, statu
    </sql>

    <select id="getUsersInfoByPage" resultType="com.ljz.huotai.pojo.User">
        SELECT su.*
        FROM sys_user su
        <where>
            <if test="user.username != null and user.username != ''">
                su.username LIKE CONCAT('%', #{user.username}, '%')
            </if>
            <if test="user.email != null and user.email != ''">
                AND su.email LIKE CONCAT('%', #{user.email}, '%')
            </if>
            <if test="dataScope != null and dataScope.length == 2">
                AND su.created BETWEEN #{dataScope[0]} AND #{dataScope[1]}
            </if>
        </where>
    </select>

</mapper>
